html {
  height: 100%;
  width: 100%;
  margin:0;
}

body {
  font: 400 36px "Helvetica Neue";
  height: 100%;
  width: 100%;
  margin:0;
}

a:link, a:visited {
  color: #E00;
  text-decoration: none;
}

a:hover {
  color: #666;
}

body > svg {
  position: absolute;
  width:100%;
  height:100%;
}

#infobox, #warning {
	background-color:#fff;
	position: absolute;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    top: 20px;
}

#warning {
	width:300px;
	left:20px;
	z-index:200;
	padding:20px;
}

#warning h2 {
	margin-top:0;
}

#warning .close {
	display:none;
	position:absolute;
	top:5px;
	right:10px;
	cursor:pointer;
	font-size:12px;
}

#warning:hover .close {
	display:block;
}

#infobox {
	text-align:center;
    z-index: 102;
    width: 300px;
    right: 20px;
	overflow:hidden;
	padding:20px 0;
}

#infobox.small {
	right:auto;
	left:0;
	top:0;
	width:100%;
	min-width:580px;
	height:60px;
	-webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

#infobox.small h1 {
	margin-top:0;
}

#infobox.small .text, #infobox.small img {
	float:left;
}

#infobox.small .info {
	margin:0;
	padding-left:25px;
}

#infobox .info * {
	display:inline;
}

#infobox.small #downloadSVG {
	display:none;
}

#infobox.small img {
	width:auto;
	height:60px;
	margin-left:25px;
}

#infobox h1, #warning h2 {
	font-size:19px;
	color:#E00;
	font-weight:bold;
	text-align:left;
}

#infobox h1 {
	padding:0 25px;
	margin:10px 0 0;
}

#infobox .info {
	text-align:left;
	font-size:15px;
	margin:10px 25px 0;
	overflow:hidden;
	display:none;
}

#infobox .text {
	max-width:500px;
}

#infobox h2 {
	font-size:15px;
	color:#000;
	font-weight:bold;
	margin:0;
}

#infobox div#sizeCalculator {
	display:block;
	position:absolute;
	left:0px;
	top:0px;
	opacity:0;
	filter:alpha(opacity=0);
}

#infobox p, #warning p {
	font-size:15px;
	margin:0;
}

#infobox img {
	width:100px;
	position:relative;
	z-index:5;
	border:none;
}

#infobox p#downloadSVG, #infobox #howToUse {
	text-align:left;
	margin:10px 0 0 25px;
}

#infobox.small #howToUse {
	margin-top:5px;
	font-size:12px;
}

#tooltip {
	font-size:12px;
	font-family:"Helvetica Neue", Helvetica;
	position:absolute;
	padding:5px;
	z-index:100000;
}

#tooltip div {
	background-color:#000;
	color:#fff;
	color:#fff;
	padding:5px 8px 4px 8px;
	text-align:left;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
